
{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}

    <h1 align="center">Skincare Notes Dashboard</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data | urlize(target='_blank') }}
        <div class="note-time">{{ note.date }}</div>
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </form>
    <style>
      .note-time {
          color: blue; /* Change the color to blue */
          font-size: 70%; /* Make it tinier */
          position: absolute; /* Position it absolutely */
          bottom: 0; /* Align to the bottom */
          right: 0; /* Align to the right */
      }
    </style>
{% endblock %}

